  body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        h1 {
            color: MidnightBlue;
        }

        p, p1 {
            color: MidnightBlue;
            font-size: 1.2em;
        }

        .text-section {
            margin-bottom: 20px;
        }

        .images-container {
            text-align: left; /* Centers the images */
            margin-bottom: 30px;
        }

        img {
            margin: 4px; /* Adds space between images */
            max-width: 50%; /* Makes images responsive */
            height: auto;
        }

        a {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            background-color: MidnightBlue;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

        a:hover {
            background-color: #333;
        }
