body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    margin: 20px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: #2c3e50;
}

p {
    font-size: 2.0em;
    color: #191970
}

p1 { font size: 1.8em;
}

a {
    text-decoration: none;
    color: #2980b9;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
